@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "Poppins" , -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", 
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.customTextInput{
  width:100%;
  color:rgb(58, 58, 58);
  border: 1px solid rgb(181, 181, 181);
  padding:6px 10px;
  border-radius: 6px;
}

.customTextInput:hover {
  border-color: #007bff;
}

.customTextAreaInput {
  width:100%;
  color:rgb(96, 94, 94);
  border: 1px solid rgb(212, 211, 211);
  padding:8px 5px;
  border-radius: 8px;
}
.customTextAreaInput:hover {
  border-color: #007bff;
}

.selectInput{
  width:100%;
  color:rgb(96, 94, 94);
  border: 1px solid rgb(212, 211, 211);
  padding:8px 6px;
  border-radius: 8px;
}

.formSubmitBtn {
  border-radius: 50px;
  background-color:rgb(160, 222, 2);
  padding:6px 2rem;
  text-align: center;
  font-size: 15px;
  transition: all;
  letter-spacing: 1px;
  color: #fff;
  box-shadow:inset;
}

.formDeleteBtn {
  border-radius: 50px;
  background-color:rgb(222, 31, 2);
  padding:6px 2rem;
  text-align: center;
  font-size: 15px;
  transition: all;
  letter-spacing: 1px;
  color: #fff;
  box-shadow:inset;
}

.formSubmitBtn:hover {
  border-color: #007bff;
}

.formCancelBtn {
  border-radius: 50px;
  padding:6px 2rem;
  text-align: center;
  font-size: 15px;
  transition: all;
  letter-spacing: 1px;
  color: rgb(59, 59, 59);
  box-shadow:inset;
  border: 1px solid rgb(209, 208, 208);
}

::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 4px lightgray !important;
	border-radius: 4px !important;
	background-color: #F5F5F5 !important;
}

::-webkit-scrollbar
{
	width: 8px !important;
	background-color: #F5F5F5 !important;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px !important;
	-webkit-box-shadow: inset 0 0 4px lightgray !important;
	background-color: lightgray !important;
}
